h1 {
	font: Helvetica, Arial;
}

body {
	background-color: #312e2b;
	margin-left:10%;
	margin-top: 20px;
	color:white;
}
.navigation {
	margin-top: 20px;
	margin-right: 10%;
}

.content {
	margin-top: 40px;
	margin-left: -1%;
	margin-right:20%;
}

.content1 {
	margin-top: 40px;
	margin-left: -1%;
	margin-right: 5%;
}

.content2 {
	margin-top: 40px;
	margin-left: -1%;
	margin-right: 4%
}


h4 {
	margin-bottom: 3%;
}

.footer {
	margin-top: 5%;
	margin-right: 10%;
	font:normal 13px Arial !important;
}

img {
	margin-right:1%;
	margin-bottom: 1%;
}

.navigation2 .list-group-item {
	background-color: #312e2b;
}

.navigation2 {
	margin-right: 30%
}
.navigation2 .btn{
	background-color:#bfbfbf;
	color: black;
}